.env
.adk/*
__pycache__/*
.db
.pyc
agent/C0D3X/tools/__pycache__/armor_client.cpython-312.pyc
agent/C0D3X/tools/__pycache__/armor_client.cpython-311.pyc
agent/C0D3X/__pycache__/agent.cpython-311.pyc
agent/C0D3X/__pycache__/__init__.cpython-311.pyc
agent/C0D3X/.adk/session.db
